body{
    margin: 0px;
    width: 100%; 
}
.heading{
    line-height: 40%;
    font-size: 1.5em;
    color: white;               
    font-family: 'Comfortaa', cursive;
    position: fixed;
    text-align: center;
    width: 100%;
    height:80px;
    
    
    background-color: rgb(197, 206, 12);
    z-index: 5;
    
}
.pos{
    position: relative;
    padding: 3%;
}

q[title]{
    color: greenyellow;
    quotes: "|" "|";
}
#ending {
    font-family: 'Comfortaa', cursive;
    position: relative;
    line-height: 100%;
    font-size: 1.5em;
    color: white;
    height: 70px;
    width: 100%;
    padding-top:4%;    
    text-align: center;         
    background-color: rgb(197, 206, 12);
}
.name{
    font-family: 'Amatic SC', cursive;
    position: relative;
    color:rgb(7, 123, 161);
    line-height: 50%; 
    font-size: 3em;
    font-weight: 100;
    padding: 0%;
    z-index: 4;
}
 .text{
    font-family: 'Comfortaa', cursive;
    position: relative;
    color: black;
    line-height: 100%;
    font-size: 1.4em;
    padding: 0%;
    z-index: 4;
}
    
 .block{
    display: block;
    position: relative;
    height: 700px;
    width: 100%;
    padding-top: 2%;
}
 
 .picture{
    position: relative;
    
    padding: 0% 0% 2% 0%;
}
.container{
position: relative;
width: 100%;
margin-top: 3%;
margin: 60px auto;
padding: 20px;
border: 2px solid rgb(197, 206, 12);
}